\#*
*~
*.swp
*.elc
.*

!/.mc-lists.el

/elpa
/tmp/*
/vendor/*
/backup/*

/eshell/*
!/eshell/alias

/abbrev_defs
/bookmarks

/init.el
/custom.el
/custom.readonly.el
/secrets.el
/site-lisp/my-loaddefs.el
/org-clock-save.el
